<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142785329820-5jceqlqpc6nijm14glijbbvi62ssl1j4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142785329820-5jceqlqpc6nijm14glijbbvi62ssl1j4</string>
	<key>API_KEY</key>
	<string>AIzaSyD8XA5mR-ixLlxg_ETBVAA2tQ4k--fuk9E</string>
	<key>GCM_SENDER_ID</key>
	<string>142785329820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.valoTips</string>
	<key>PROJECT_ID</key>
	<string>valorant-tips-flutter-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>valorant-tips-flutter-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142785329820:ios:de1a8318719ce38f7e4b59</string>
</dict>
</plist>